{% extends 'common/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Create a New Post</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}


        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div class="text-danger">
                {% for error in field.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Create Post</button>
    </form>
</div>
{% endblock %}
